{% extends "base.html" %}
{% block conteudo %}
<div class="detalhes d-flex flex-row">
    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
    <div class="detalhes-text">
        <h3 class="titulo">
            <a href="{{ produto.get_absolute_url }}">{{ produto.nome }}</a>
            <p> &nbspR${{ produto.preco }}</p> </h3>

        <p>{{ produto.descricao|safe|linebreaksbr }}</p>
        <form class="form-carrinho" action="{% url 'carrinho:adicionar_ao_carrinho' produto.id %}" method="post">
            {{ form_produto_carrinho }}
            {% csrf_token %}
            <input type="submit" value="Adicionar ao carrinho">
        </form>
    </div>
</div>

{% endblock conteudo %}
