{% extends "base.html" %}
{% block conteudo %}

    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center py-5">
            <h3>Sobre nós</h3>
            <hr class="mx-auto">
            <p>Nós nascemos com um único propósito: inovar o mercado vestindo todos os corpos e estilos!
                Trazemos para nosso público conforto, versatilidade, qualidade e preço justo.
                Nos empenhamos para avançarmos a cada dia, nossa equipe não para de desenvolver novas ideias. Tudo isso
                para que você, nosso cliente, tenha sempre o melhor serviço e com o melhor custo benefício. </p>
        </div>
    </div>



{% endblock conteudo %}
